html, body, #root {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
  padding: 0.5rem;
  background-color: #1E5C3A;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
